<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <% room.sessions.each do |session| %>
    <p><%= session.user.email_address %> is in this room</p>
  <% end %>

</div>
