<p style="color: green"><%= notice %></p>

<h1>Rooms</h1>
<%= link_to "New room", new_room_path, data: { turbo_frame: 'modal'} %>

<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
    <p><%= link_to "Enter this room", room_sessions_path(room), data: { turbo_confirm: 'Are you sure you want to enter this room?', "turbo-method": :post } %></p>
  <% end %>
</div>