<div class="room">
  <div class="actions-container">
    <div class="card nav-buttons">
      <footer class="card-footer">
        <%= link_to "Leave Room", room_session_path(@room, current_user.session), data: { turbo_method: :delete }, class: 'card-footer-item' %>
        <%= link_to "Close Room", @room, data: { turbo_method: :delete }, class: 'card-footer-item' %>
      </footer>
    </div>
  </div>

  <div id="sessions">
    <% @room.sessions.each do |session| %>
      <p><%= "#{session.user.email} is here!" %></p>
    <% end %>
  </div>

  <div data-controller="room" data-room-id="<%= dom_id @room %>">
    <div data-room-target="videoContainer" id="video-container">
      <video height="240" playsinline autoplay data-room-target="me"></video>
    </div>
  </div>
</div>